<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <title>Restaurant Apps Starter Project</title>
  </head>

  <body>
    <nav>
      <div class="topnav">
        <div class="wrapOne">
          <h1>Hunger Apps</h1>
        </div>
        <div class="wrapTwo">
          <a href="/">Home</a>
          <a href="#">Favorite</a>
          <a href="https://github.com/mluthfifrd" target="_blank">About Us</a>
        </div>

        <div class="icon">
          <a id="openNav">&#9776;</a>
        </div>
      </div>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
        <a href="/">Home</a>
        <a href="#">Favorite</a>
        <a href="https://github.com/mluthfifrd" target="_blank">About Us</a>
      </div>
    </nav>

    <main>
      <div class="jumbotron">
        <img src="./images/heros/hero-image_2.jpg" width="450" alt="" />
      </div>
      <div id="card-container"></div>
    </main>

    <footer>
      <p>Copyright &copy; 2023 - Hunger Apps</p>
    </footer>
  </body>
</html>
